extends layout.jade

block content
  head
    // Custom styles for this template
    link(href='stylesheets/entry.css', rel='stylesheet')
    link(href='stylesheets/nature.css', rel='stylesheet')
  body(data-spy='scroll', data-offset='0', data-target='#theMenu')
  // Menu
  nav#theMenu.menu
    .menu-wrap
      
    #menuToggle
      a(href='/')
        img(src='/images/back.png')
  // ========== HEADER SECTION ==========
  section#home(name='home')
  #headerwrap
    .container
      br
      br
      br
      .row
        h1 NATURE
        br
        h3 Take a drive on Skyline.
        br
        .col-lg-6.col-lg-offset-3
    // /container
  // /headerwrap
  section(name='text')
  #f
    .container
      .row
        h3 "It smells like natural out here.  I like it."
        p.centered
          i.icon.icon-circle
          i.icon.icon-circle
          i.icon.icon-circle
        // INTRO INFORMATIO
        .col-lg-10.col-lg-offset-1
          #text
            p
              | Just last week I had the amazing of getting to drive up to the Calaveras Big Trees state park about two hours outside of Sacramento, California.  And good grief was it one of the best possible things I could have done. 
            p
              | You start out on some godforsaken road off of the nice and tidy interstate, and after about two miles of 'state highway' you start questioning the sanity of the GPS chip in your iPhone.  'Maybe the satellite is having a bad day.  Maybe the signal out here is just really crappy.  Because this can <em>not</em> be the right way...'
            p
              | Miraculously, you find the highway starts heading towards those massive mountains in the distance, and you actually start to believe the road may end up in a forest after all.  About an hour later of twists and turns through some stunning vistas and smaller trees, you emerge onto the most scenic forest road imaginable.  They have towns in the mountains with banners welcoming visitors strung between hundered-foot redwoods and advertisements on delicious Italian food kitchens just down the road proudly displayed (more on that later).  Basically, it's everything you need to get out of the city for a while. 
            p
              | So let's assume you find the cabin you're staying at (good luck), and if you make it up to the top of the mountain to look at the stars, well... 
            p
              | The redefines what you think of as 'big'
            p
              | I don't think I've ever seen the Milky Way quite like that before.  When you get out the car and look around, the first thing that becomes apparent is a strange looking 'cloud' overhead that is surrounded by more stars than you've seen in your entire life.  Away from the light and air pollution of the city, you actually can see exactly how small this planet is.   Good.  Grief.  I didn't know there were <em>that</em> many stars. 
            br 
            h3 So.  The Milky Way is big.  Like, really big. 
            h3.centered
              i.icon.icon-circle
              i.icon.icon-circle
              i.icon.icon-circle
            br
            p
              | So the next day, you get up and walk in the forest.  Keep in mind, all those pitiful excuses of trees grouped together you've seen before don't count as a forest.  This is a <em>forest</em>.  Every thing you see and hear seems untouched.  Like somehow, the millions of people you were around not 72 hours ago don't even exist anymore; all that does right now are the trees around you and the millions of birds and little guys on the ground scampering around.  You really feel out of place, like you lost something living in the city for so long.  
            p
              | Time has a different meaning with the Redwoods.  100 years might get you a good-sized trunk.  1000 will get you a good hunk of tree.  But 3000 is what a real one looks like.  Three.  Thousand.  Yes, before a lot of recorded human history.  That tree.   Right there.   Was alive before anyone ever came to the United States.  Before most of Europe was even beginning to develop.  That tree right there was out of the ground and growing, organizing itself into what we see here and now. 
            p
              | That blows my mind a little. 
            p
              | When you get off the trail, you feel a little more natural.  Like you actually found a place you belong a little more and are taking some of it back with you.  
            p
              | But not before you go eat your weight in Italian food at the quaint little restaurant you passed on the way in with a nice glass of red wine grown less than five miles away.  
            p
              | You know, as long as they have internet up here, I could do pretty well coding remotely...
            p
              | You end up having to leave, and passing those same trees on the way out makes you think of the next time you can make it up to visit.  No phones, no distractions.  Just nature as it remains in the woods, and plenty of stars to keep you company.   
            br 
            h3 <em>That's</em> what old is 
            h3.centered
              i.icon.icon-circle
              i.icon.icon-circle
              i.icon.icon-circle
            br
            p
              | We have some of this back in good old Cupertino, but nothing even approaching that magnitude.  My roommate and I got fed up with the city the other night and headed out on some other god forsaken highway west (gasp) out of town in to the mountains in search of Skyline Blvd and a midnight cruise through the mountains.  
            p
              | Spoiler alert: we found it, and it was awesome. 
            p
              | If your brakes on your car aren't working, I would NOT recommend taking this road through the mountains, as it was an all-out twist and turn fiasco navigating Skyline from the very beginning of the road all the way to the Woodside exit.  But it was absolutely <em>exhilirating</em>.  We came across so many interesting mansions and vineyards nestled off the road overlooking the back side of the mountains, it was incredible.   Topped off with a healthy dose of slightly creepy fog, it really was hard to believe that this place was only 20 minutes away from home.  
            p
              | Fun fact: the horses on the car are still working just fine, we tested them. 
            p
              | 20 degrees cooler and probably a thousand feet elevation difference later, we found the vista point.  And got to look out on the entire valley.  Nowhere near the same amount of stars as Calaveras.  Just a lot of man-made ones from below.  
            p
              | They'll do though.  At least until the next time I get to visit Big Trees. 
    // /container
  // /f