extends layout.jade

block content
  head
    // Custom styles for this template
    link(href='stylesheets/entry.css', rel='stylesheet')
    link(href='stylesheets/valley.css', rel='stylesheet')
  body(data-spy='scroll', data-offset='0', data-target='#theMenu')
  // Menu
  nav#theMenu.menu
    .menu-wrap
      
    #menuToggle
      a(href='/')
        img(src='/images/back.png')
  // ========== HEADER SECTION ==========
  section#home(name='home')
  #headerwrap
    .container
      br
      br
      br
      .row
        h1 VALLEY
        br
        h3 When several zipcodes end up leading the country.
        br
        .col-lg-6.col-lg-offset-3
    // /container
  // /headerwrap
  section(name='text')
  #f
    .container
      .row
        h3 "Other places, you get a necklace of flowers as a welcoming gift.  Here, you get venture funding and an invitation to a hot yoga session."
        p.centered
          i.icon.icon-circle
          i.icon.icon-circle
          i.icon.icon-circle
        // INTRO INFORMATIO
        .col-lg-10.col-lg-offset-1
          #text
            p
              | The first thing you notice when you step off the plane at SFO is immediately how little the weather here fights you.  Let's be honest, back in the 580, it's either 105 degrees and humid or 35 degrees with gale force winds.  Here, it rarely gets outside that magical range of 55 to 85.  
            p
              | So, now that the weather isn't fighting you anymore, you realize how much you're able to simply focus on the day to day shenanigans of work.  That's not to say also how remarkably easy it is to find people to help you on your mission.  Whereas other business meetings and partnerships could take weeks to set up and arrange flights/travel arrangements, most major tech firms in the country have an office a little under 30 minutes away.  LinkedIn headquarters? 10 minutes up the road in Santa Clara.  Our friends over in Mountain View?  We can stop in for lunch afterwards and still make it back for our 3:00 meeting.  
            p
              | It's kinda hard to compete with that. 
            p
              | Of course, you can't comment on everything happening out here with at least mentioning the housing problem.  I can't tell you the number of times I've taken an Uber ride from Command to the Sunnyvale Caltrain station only to get to chatting with the driver about how awful the rent is here.  Oh, those condos across the street from the station? $3.5K a month without breaking a sweat.  Is this actually maintainable?  
            p
              | My favorite story was from this one gentleman giving me a lift who was talking about how he owned a condo down in Cambell for a number of years but that he decided to sell to move up to Oakland.  At the time, it was a bit of a crash (yes, early 2000's), so options were better up outside Oakland for rent and jobs.  He was paying something like $1.2K a month in Campbell.
            p
              | Here we are a little over a decade later, and the exact same condo with no upgrades/improvements is worth roughly three times that same amount.  Which is nothing to say of the incredible lengths he had to go through in order to get the <em>same</em> place back at this higher price.  
            p
              | The process, he said, begins with at least finding a place still open.  You need every single form necessary already filled out before you even approach the complex with your application.  Then, you aren't even guaranteed to get the apartment/condo.  Once the property gets enough applications, then begins the process of bidding up the price until only one applicant remains who is willing to pay for the apartment, after which she/he gets it at the higher price.  Oh, and this usually comes with a demand of 3-4 months advancement on rent.  You know, just in case. 
            p
              | There has to be a solution for this... But I digress.   
            br
            h3 <em> tl;dr  Rent. Sucks. </em>
            h3.centered
              i.icon.icon-circle
              i.icon.icon-circle
              i.icon.icon-circle
            br
            p
              | Once you get over the awfulness of finding a place to live here, everything is actually fairly smooth sailing.  I'm not even going to touch the hell that is commuting to/from work if you don't live within biking distance.  However, if you do live within biking distance of work, it's remarkably well done here for commuting.  Seriously, the dedicated lanes to and from work make what would be a 5 minute drive also a 5 minute bike.  
            p
              | It's clear why this place has become the epicenter of technical innovation; everything you would ever need to build something big is available and close.  
            p
              | When you take a drive down University Ave (about two minutes from Stanford), the number of startups present in a two square mile area is insane.  Every single one of them I suspect is already in its Series A stage and making the front pages of Wired and Tech Crunch every so often.  After a long day at work of building insanely cool things, everyone goes out downtown on the same street for drinks and to chat with all the other people working nearby.  
            p
              | A few weeks back, I had the good time of enjoying some drinks in Palo Alto with a friend from OU and his roommates working at other startups in the area.  After settling in and hearing what everyone was working on, we moved on to what everyone had been up to for the past couple of months.  After finishing a rather delicious Belgian pale ale, I went back up to the bar and got in line to order something light and finish up the night.  
            p
              | The <em>average</em> conversation taking place among people there entailed some form of a massive cloud storage service or a new data analytics operation that will 'revolutionize' some industry I couldn't catch the name of.  All this was in a nondescript pub in downtown Palo Alto.
            p
              | This can't be like the rest of the country...
            p
              | I'm not sure what many other people may think of the valley or what everyone does here, but if their opinions are anything like what I heard from an acquaintance back in Oklahoma a few months ago that 'all we do is make video games,' everyone has quite a bit to learn.
    // /container
  // /f